body {
    margin: 0;
    background: lightblue;
    text-align: center;
}

#top {
    font-style:italic;
}
.content {
    padding: 20px;
}
.child {
    width: 720px;
    float: left;
    padding: 20px;
    border: 2px solid navy;
    border-radius: 20px;
    height: 400px;
    margin: 40px;
    
}

.child p {
    font-size: larger;
}

#skillitems {
    border-radius: 40px;
    border-style: double;
    border-color: brown;
}

.Projects {
    padding: 20px;
}

.Software {
    width: 720px;
    float: left;
    padding: 20px;
    border: 2px solid navy;
    border-radius: 20px;
    height: 180px;
    margin: 40px;
}

.Embedded {
    width: 720px;
    float: left;
    padding: 20px;
    border: 2px solid navy;
    border-radius: 20px;
    height: 180px;
    margin: 40px;
}

.Projects p {
    font-size: larger;
}

